html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url(../img/bg-image.png) no-repeat center center/cover;
  padding: 85px; }

header {
  display: flex;
  justify-content: space-between; }

main {
  margin-top: 260px;
  margin-bottom: 260px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 100px;
  padding-right: 50px;
  /* width: 100%; */ }

.audio {
  width: 50%;
  /* width: 1240px; */
  margin-right: 100px; }
  .audio-list {
    /* padding: 10px; */
    /* list-style: decimal;
    list-style-position: inside; */ }
    .audio-list li {
      /* display: list-item; */
      /* height: 80px; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      padding: 10px; }
      .audio-list li:last-child {
        border-bottom: none; }
      .audio-list li .track {
        width: 400px;
        display: flex;
        align-items: center;
        margin-right: 25px; }
        .audio-list li .track__nomer {
          font-size: 26px;
          font-weight: 400;
          padding-right: 30px; }
        .audio-list li .track .track__nomer--volume {
          width: 12px;
          height: 10px;
          padding-right: 25px; }
        .audio-list li .track p {
          font-size: 26px;
          font-weight: 700;
          line-height: 32px;
          font-family: sans-serif;
          padding-left: 20px; }
          .audio-list li .track p span {
            font-size: 24px;
            font-weight: 400; }
      .audio-list li .like {
        width: 50px; }

.current-audio {
  /* width: 40%; */
  display: flex;
  align-items: center;
  justify-content: center; }
  .current-audio figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
    .current-audio figure figcaption {
      width: 70%;
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .current-audio figure figcaption p {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        font-family: sans-serif; }
        .current-audio figure figcaption p span {
          font-size: 24px;
          font-weight: 400; }

.fa-heart,
.fa-chevron-circle-right {
  color: rgba(255, 255, 255, 0.7); }

.fa-chevron-circle-right {
  padding-left: 10px; }

footer {
  margin-top: 255px; }
  footer .player {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7); }
    footer .player__controls-buttons {
      display: flex;
      align-items: center;
      margin-right: 20px;
      /* width: 11%; */ }
      footer .player__controls-buttons--prev {
        /* img {
        	width: 12px;
        	height: 14px;
        } */ }
      footer .player__controls-buttons--stop {
        margin-right: 85px;
        margin-left: 85px;
        /* img {
        	width: 18px;
        	height: 24px;
        } */ }
      footer .player__controls-buttons--next {
        /* img {
        	width: 12px;
        	height: 14px;
        } */ }
    footer .player__timeline {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* width: 43%; */ }
      footer .player__timeline .current-track {
        font-size: 26px;
        font-weight: 500;
        line-height: 16px;
        font-family: sans-serif;
        margin-bottom: 10px; }
        footer .player__timeline .current-track span {
          font-size: 24px;
          font-weight: 400; }
      footer .player__timeline .line-track {
        display: flex;
        justify-content: space-around; }
        footer .player__timeline .line-track__time {
          font-size: 22px;
          font-weight: 400;
          line-height: 32px; }
        footer .player__timeline .line-track__line {
          width: 470px;
          border-top: 8px solid rgba(255, 255, 255, 0.15);
          margin-top: 10px;
          margin-right: 25px;
          margin-left: 25px; }
          footer .player__timeline .line-track__line--load {
            margin-top: -8px;
            border-top: 8px solid rgba(255, 255, 255, 0.3);
            width: 262px; }
          footer .player__timeline .line-track__line--passed {
            margin-top: -8px;
            border-top: 8px solid #ff643b;
            width: 209px; }
    footer .player__mode {
      /* width: 11%; */
      display: flex;
      align-items: center;
      margin-left: 20px;
      /* .replay {
      	width: 17px;
      	height: 13px;
      } */ }
      footer .player__mode .volume {
        margin-right: 125px;
        /* width: 17px;
        height: 13px; */ }
      footer .player__mode .shuffle {
        margin-right: 45px;
        /* width: 17px;
        height: 13px; */ }

/* .fa-step-backward {
	width: 24px
	height: 28px;
} */
@media (max-width: 760px) {
  body {
    width: 100%; }

  header .scrollView {
    display: none; }
  header .closeFullView {
    display: none; }

  main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
    main .audio {
      width: 90%;
      margin: 0; }
    main .current-audio {
      margin-bottom: 100px; }

  footer {
    margin-top: 100px; }
    footer .player {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .player__timeline {
        order: -1; }
      footer .player__controls-buttons {
        margin-top: 30px;
        margin-left: 20px; }
      footer .player__mode {
        margin-top: 30px;
        margin-left: 0; }
        footer .player__mode .volume {
          margin-right: 45px; } }

/*# sourceMappingURL=index.css.map */
